/*
.bg-img {
    background-image: url('../resources/bg-large.png');
    background-size: cover!important;
    width: 100%;
    height: 100%;
}
*/

.bold-option{
    font-weight: bolder;
}

.pesquisa-rapida {
    margin-left: 10px; 
    margin-right: 10px; 
    margin-bottom: -9px;
}

.map-size {
    width: 100%;
    height: 400px;
}

.map-size-detalhes-quadra {
    width: 100%;
    height: 400px;
}

span.badge.admin {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #e65100;
    border-radius: 2px;     
    margin-right: 10px;
}

/*span.badge.admin:after {
    content: "admin"!important;     
}*/

span.badge.respostaPresente {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #009933;
    border-radius: 2px;     
    margin-right: 10px;
}

span.badge.respostaAusente {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #e60000;
    border-radius: 2px;     
    margin-right: 10px;
}

span.badge.respostaSem {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #e65100;
    border-radius: 2px;     
    margin-right: 10px;
}

span.badge.jogoCancelado {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #e60000;
    border-radius: 2px;     
    margin-right: 10px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Lucida Grande','Helvetica','Arial','Verdana','sans-serif';
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    
   #teste {
        padding-left: 300px;
    }
}

@KeyFrames a {
    from {opacity: 0;};
    to {opacity: 1;};
}

body {
    animation: a 0.5s;
}

.cover {    
    object-fit: contain!important;
}

